<% provide(:title, 'About Us') %>
<h1>Anong kaguluhan ito?</h1>
<p>

Pinas Twitter ay isang experimental demo app gawa ni Steven Tapican.<br /><br />

Si Steven Tapican o Freon sa world wide web ay isang materials engineer at ruby and rails website developer.
Siya ay nangangarap makagawa ng isang "super cool" na website or invention. 
Gusto nya magtayo ng sarili nyang negosyo gamit ang mga makabagong teknolohiya na magbibigay ng trabaho sa maraming Filipino.<br /><br />

Mahilig syang magfoodtrip, maggeektalk at magsubok ng kung anu-anong bagay. 

</p>